In [16]:
import time
import datetime
import pandas as pd

In [9]:
# creating query_string to pull data from

# f-string values to use
ticker ='SPY'
period1 = int(time.mktime(datetime.datetime(2020,12,27,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2021,10,8,23,59).timetuple()))
interval = '1d' #1d, 1m, 1wk

query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [12]:
#checking if the link is working correctly
query_string

'https://query1.finance.yahoo.com/v7/finance/download/SPY?period1=1609131540&period2=1633751940&interval=1d&events=history&includeAdjustedClose=true'

In [10]:
#pulling it into df
df = pd.read_csv(query_string, index_col=0)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-28,371.739990,372.589996,371.070007,372.170013,368.564636,39000400
2020-12-29,373.809998,374.000000,370.829987,371.459991,367.861481,53680500
2020-12-30,372.339996,373.100006,371.570007,371.989990,368.386353,49455300
2020-12-31,371.779999,374.660004,371.230011,373.880005,370.258057,78520700
2021-01-04,375.309998,375.450012,364.820007,368.790009,365.217407,110210800
...,...,...,...,...,...,...
2021-10-04,433.000000,433.959991,426.359985,428.640015,428.640015,128570000
2021-10-05,430.239990,435.489990,429.390015,433.100006,433.100006,90682500
2021-10-06,429.269989,435.119995,427.540009,434.899994,434.899994,113032200
2021-10-07,438.390015,441.679993,438.200012,438.660004,438.660004,72437500
2021-10-08,439.480011,439.890015,437.190002,437.859985,437.859985,74492900

In [ ]:
# Date column needs to be cleaned.. converting into date format
df['date'] = pd.to_datetime(df['date'])

In [15]:
#to save this data into .csv
df.to_csv('SPY.csv')

Created a function to combine all steps above so it can be reused in the future:
    - takes in the stock ticker and will generate a .csv file with dates set for the reddit data

In [24]:
# function to do all this
def yahoo_pull(stock):
    #packages
    import time
    import datetime
    import pandas as pd
    
    # f-string values to use
    ticker = stock
    period1 = int(time.mktime(datetime.datetime(2020,12,27,23,59).timetuple()))
    period2 = int(time.mktime(datetime.datetime(2021,10,8,23,59).timetuple()))
    interval = '1d' #1d, 1m, 1wk
    
    #creates the link
    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'
    
    #pulling it into df and sertting the index to ticker
    df = pd.read_csv(query_string, index_col=0)
    
    #to save this data into .csv
    df.to_csv(f'{ticker}.csv')

In [25]:
#to grab all the historical data from yahoo and create .csv files for each of them
yahoo_pull('SPY')
yahoo_pull('GME')
yahoo_pull('AMC')
yahoo_pull('BB')

Need to create a seperate pull for volume for:
- frequency monthly
- time period will be set to match Jan 2020/2021 to Oct 2020/2021

In [34]:
# function to do all this
def historical_pull(stock):
    #packages
    import time
    import datetime
    import pandas as pd
    
    # f-string values to use
    ticker = stock
    period1 = int(time.mktime(datetime.datetime(2019,12,29,23,59).timetuple()))
    period2 = int(time.mktime(datetime.datetime(2020,9,30,23,59).timetuple()))
    interval = '1mo' #1d, 1mo, 1wk
    
    #creates the link
    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'
        
    #pulling it into df and sertting the index to ticker
    df = pd.read_csv(query_string, index_col=0)
    
    #to save this data into .csv
    df.to_csv(f'{ticker}_volume20.csv')

In [35]:
historical_pull('GME')
historical_pull('AMC')
historical_pull('BB')