In [19]:
import time
import datetime
import pandas as pd

In [11]:
# creating query_string to pull data from

# f-string values to use
ticker ='SPY'
period1 = int(time.mktime(datetime.datetime(2020,12,27,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2021,10,8,23,59).timetuple()))
interval = '1d' #1d, 1m, 1wk

query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [12]:
#checking if the link is working correctly
query_string

'https://query1.finance.yahoo.com/v7/finance/download/SPY?period1=1609131540&period2=1633751940&interval=1d&events=history&includeAdjustedClose=true'

In [14]:
#pulling it into df
df = pd.read_csv(query_string)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-12-28,371.739990,372.589996,371.070007,372.170013,368.564636,39000400
1,2020-12-29,373.809998,374.000000,370.829987,371.459991,367.861481,53680500
2,2020-12-30,372.339996,373.100006,371.570007,371.989990,368.386383,49455300
3,2020-12-31,371.779999,374.660004,371.230011,373.880005,370.258087,78520700
4,2021-01-04,375.309998,375.450012,364.820007,368.790009,365.217377,110210800
...,...,...,...,...,...,...,...
193,2021-10-04,433.000000,433.959991,426.359985,428.640015,428.640015,128570000
194,2021-10-05,430.239990,435.489990,429.390015,433.100006,433.100006,90682500
195,2021-10-06,429.269989,435.119995,427.540009,434.899994,434.899994,113032200
196,2021-10-07,438.390015,441.679993,438.200012,438.660004,438.660004,72437500
197,2021-10-08,439.480011,439.890015,437.190002,437.859985,437.859985,74492900

In [ ]:
# Date column needs to be cleaned.. converting into date format
df['date'] = pd.to_datetime(df['date'])

In [15]:
#to save this data into .csv
df.to_csv('SPY.csv')

In [57]:
# create function to do all this
def yahoo_pull(stock):
    #packages
    import time
    import datetime
    import pandas as pd
    
    # f-string values to use
    ticker = stock
    period1 = int(time.mktime(datetime.datetime(2020,12,27,23,59).timetuple()))
    period2 = int(time.mktime(datetime.datetime(2021,10,8,23,59).timetuple()))
    interval = '1d' #1d, 1m, 1wk
    
    #creates the link
    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'
    
    #pulling it into df
    df = pd.read_csv(query_string)
    
    #to save this data into .csv
    df.to_csv(f'{ticker}.csv')

In [58]:
yahoo_pull('SPY')
yahoo_pull('GME')
yahoo_pull('AMC')
yahoo_pull('BB')