In [1]:
import time
import datetime
import pandas as pd

In [2]:
# creating query_string to pull data from

# f-string values to use
ticker ='BB'
period1 = int(time.mktime(datetime.datetime(2020,12,27,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2021,10,8,23,59).timetuple()))
interval = '1d' #1d, 1m, 1wk

query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [8]:
#checking if the link is working correctly
query_string

'https://query1.finance.yahoo.com/v7/finance/download/GME?period1=1606885140&period2=1609477140&interval=1wk&events=history&includeAdjustedClose=true'

In [3]:
#pulling it into df
df = pd.read_csv(query_string)
df

           Date  Open  High   Low  Close  Adj Close    Volume
0    2020-12-28  7.10  7.13  6.85   6.88       6.88   9820100
1    2020-12-29  6.98  7.00  6.68   6.77       6.77  11284200
2    2020-12-30  6.79  6.81  6.60   6.67       6.67   9434900
3    2020-12-31  6.68  6.80  6.63   6.63       6.63   7530600
4    2021-01-04  6.70  6.82  6.52   6.58       6.58  11139200
..          ...   ...   ...   ...    ...        ...       ...
193  2021-10-04  9.66  9.72  9.35   9.60       9.60   9718800
194  2021-10-05  9.63  9.83  9.50   9.52       9.52   6225200
195  2021-10-06  9.37  9.45  9.10   9.36       9.36   9246600
196  2021-10-07  9.47  9.75  9.29   9.60       9.60   5519400
197  2021-10-08  9.56  9.59  9.36   9.39       9.39   4692800

[198 rows x 7 columns]

In [4]:
#to save this data into .csv
df.to_csv('BB.csv')