In [2]:
import time
import datetime
import pandas as pd

In [17]:
# creating query_string to pull data from

# f-string values to use
ticker ='GME'
period1 = int(time.mktime(datetime.datetime(2020,12,27,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2021,10,8,23,59).timetuple()))
interval = '1d' #1d, 1m, 1wk

query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

1609131540

In [8]:
#checking if the link is working correctly
query_string

'https://query1.finance.yahoo.com/v7/finance/download/GME?period1=1606885140&period2=1609477140&interval=1wk&events=history&includeAdjustedClose=true'

In [15]:
#pulling it into df
df = pd.read_csv(query_string)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-12-28,21.309999,21.969999,20.350000,20.990000,20.990000,8965900
1,2020-12-29,20.820000,21.070000,18.559999,19.379999,19.379999,9241400
2,2020-12-30,19.379999,20.000000,18.850000,19.260000,19.260000,5934400
3,2020-12-31,19.250000,19.799999,18.799999,18.840000,18.840000,6922700
4,2021-01-04,19.000000,19.100000,17.150000,17.250000,17.250000,10022500
...,...,...,...,...,...,...,...
193,2021-10-04,175.949997,176.949997,170.770004,171.360001,171.360001,1195700
194,2021-10-05,171.190002,173.169998,166.699997,172.179993,172.179993,1315900
195,2021-10-06,170.059998,172.960007,165.809998,171.070007,171.070007,1200300
196,2021-10-07,172.000000,175.199997,170.539993,172.119995,172.119995,1159300
197,2021-10-08,172.500000,175.720001,171.119995,172.679993,172.679993,817000

In [16]:
#to save this data into .csv
#df.to_csv('test.csv')